# Algorand Configuration
VITE_APP_ID=0
VITE_USDC_ASSET_ID=0
VITE_USDT_ASSET_ID=0
VITE_ALGOD_SERVER=https://testnet-api.algonode.cloud
VITE_ALGOD_TOKEN=
VITE_ALGOD_PORT=

# API Configuration
VITE_API_URL=http://localhost:3001
