# Algorand Configuration
FAUCET_MNEMONIC=your 25 word mnemonic phrase here
APP_ID=0
USDC_ASSET_ID=0
USDT_ASSET_ID=0

# Server Configuration
PORT=3001

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/arbigent
